/* Define keyframes for the animation */
@keyframes imgLoop {
  0% {
    background-image: url("https://glowupbucket.s3.amazonaws.com/fitness.jpg");
  }
  50% {
    background-image: url("https://glowupbucket.s3.amazonaws.com/finanzas.jpg");
  }
  100% {
    background-image: url("https://glowupbucket.s3.amazonaws.com/fitness.jpg");
  }
}

/* Apply animation to an element */
.imagenesLoop {
  animation: imgLoop 20s infinite; /* Play the colorLoop animation for 5 seconds, infinitely */
  background-size: cover;
}

.slide-in-left {
  animation: slideInLeft 1.5s forwards;
}

.invisible {
  opacity: 0;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
